a {
  text-decoration: none;
  color: inherit;
}

.btn {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  margin: 20px;
  width: 80px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container_content {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_cover > img {
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content_title {
  text-transform: uppercase;
}

.content_description {
  margin-top: 15px;
}

.content_description > p {
  color: rgb(198, 197, 197);
}
