a {
  text-decoration: none;
  color: inherit;
}

.container_menu-bar > ul {
  display: flex;
  flex-direction: row;
}

.container_menu-bar > ul > li {
  padding: 20px;
  list-style: none;
  text-transform: uppercase;
}
